section(id="create-info-elements")
	a(href="#create-info-elements"): h2 Info Elements
	p.
		Here you are able to manipulate info elements. You should be able to create, edit and delete
		elements
	
	div(class="flex")
		div(class="fl w-60-ns w-40-l pr2")
			div(class="viewer h5")

		div(class="fl w-40-ns w-60-l pa2")
			button Create

			div
				h4 Information Elements
				ul 
					li 
						| name
						span(class="underline blue") Delete


		