//- index.pug
doctype html
html
	head
		script(src="/js/main.bundle.js")
		link(href="/css/style.css" media="all" rel="stylesheet")
	body(class="pa3")
		h1 Virtual Tour Renderer
		p Here we will test the tour renderer with all its features

		include single-pano
		include multiple-pano
		include create-links
		include create-info-elements
		include using-query-params



