section(id="create-links")
	a(href="#link-manipulation-example"): h2 Link Manipulation
	div(class="row")
		div(class="col-xs-4")
			div(id="link-manipulation" class="viewer")
		div(class="col-xs-3")
			button(id="select-create-link") Create link
			br 
			br
			button(id="create-link") Create link in the middle
