section(id="create-links" class="cf")
	a(href="#create-links"): h2 Link Manipulation
	div(class="fl w-30 pr2")
		div(class="viewer h5")

	div(class="fl w-70 pa2")
		div
			select
				option Select a pano
		br
		div 
			button(id="create-link-location") Create link
			button(id="create-link" class="ml3") Create link in the middle

		div 
			h3 links
			ul 