//- index.pug
doctype html
html
  script(src="/main.js")
  body
    h1 Virtual Tour Renderer
    p Here we will test the tour renderer with all its features
    
    h2 Single pano
    div(id="single-pano")
      
    h2 Multiple pano
    
    h2 Links
    
    h2 Information Elements
    
    h2 Embedding
    
    
    
    
