//- index.pug
doctype html
html
  script(src="/js/main.js")
  link(href="/css/style.css" media="all" rel="stylesheet")
  body
    h1 Virtual Tour Renderer
    p Here we will test the tour renderer with all its features
    
    section(id="single-pano-example")
      h2 Single pano
      div(id="single-pano")
    
    section(id="multiple-pano-example")
      h2 Multiple pano
      div(id="multiple-pano")
    
    
    h2 Links
    
    h2 Information Elements
    
    h2 Embedding
    
    
    
    
