section(id="using-query-params")
	a(href="#using-query-params"): h2 Using query params
	p.
		Here you are able to modify the behaviour of the the tour renderer using different parameters

	div(class="flex")
		div(class="fl w-60-ns w-40-l pr2")
			div(class="viewer h5")

		div(class="fl w-40-ns w-60-l pa2")
			button(id="auto-load-button" class="mb2 db") Set autoLoad
			button(id="auto-rotate-button" class="mb2 db") Set autoRotate
			button(id="show-controls-button") Set showControls



